// ---------------------
// == Config file
// ---------------------

// Set a prefix for all the CSS class names
$namespace: "" !default;

// Enable or disable the xl columns
$use-xl-columns: false !default;

// Set the width of the gutters
$small-gutter-width: 20px !default;
$medium-gutter-width: 20px !default;
$large-gutter-width: 20px !default;
$xlarge-gutter-width: 20px !default;
$small-gutter-half-width: ($small-gutter-width / 2);
$medium-gutter-half-width: ($medium-gutter-width / 2);
$large-gutter-half-width: ($large-gutter-width / 2);
$xlarge-gutter-half-width: ($xlarge-gutter-width / 2);

// Set the total number of columns
$number-of-columns: 12 !default;

// Set the media queries configuration
$medium-breakpoint: 768px !default;
$large-breakpoint: 992px !default;
$xlarge-breakpoint: 1200px !default;
$medium-up-media-query: "only screen and (min-width:#{$medium-breakpoint})" !default;
$large-up-media-query: "only screen and (min-width:#{$large-breakpoint})" !default;
$xlarge-up-media-query: "only screen and (min-width:#{$xlarge-breakpoint})" !default;

// Enable or disable the use of future CSS's features
$target-next-css: false !default;
$medium-custom-media-name: "md-viewport" !default;
$large-custom-media-name: "lg-viewport" !default;
$xlarge-custom-media-name: "xl-viewport" !default;
