// ---------------------
// == Init of next
// == CSS's features
// ---------------------

@if $target-next-css {
    // Initializes CSS custom properties
    :root {
        --small-gutter-width: $small-gutter-width;
        --medium-gutter-width: $medium-gutter-width;
        --large-gutter-width: $large-gutter-width;
        --xlarge-gutter-width: $xlarge-gutter-width;
    }
    $small-gutter-half-width: calc(var(--small-gutter-width) / 2) !global;
    $medium-gutter-half-width: calc(var(--medium-gutter-width) / 2) !global;
    $large-gutter-half-width: calc(var(--large-gutter-width) / 2) !global;
    $xlarge-gutter-half-width: calc(var(--xlarge-gutter-width) / 2) !global;
    
    
    // Initializes CSS custom media queries
    @custom-media --#{$medium-custom-media-name} #{$medium-up-media-query};
    $medium-up-media-query: "(--#{$medium-custom-media-name})" !global;
    
    @custom-media --#{$large-custom-media-name} #{$large-up-media-query};
    $large-up-media-query: "(--#{$large-custom-media-name})" !global;
    
    @if $use-xl-columns {
        @custom-media --#{$xlarge-custom-media-name} #{$xlarge-up-media-query};
        $xlarge-up-media-query: "(--#{$xlarge-custom-media-name})" !global;
    }
}
