@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    font-size: -webkit-calc(0.625em);
    font-size: calc(0.625em);
    /* disallow text zooming on orientation change (non standard property) */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    /* set body font-size in em (1.4em equiv "14px") */
    font-size: 1.4em;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222222;
    background-color: #ffffff;
}

footer,
header,
main,
nav,
section {
  display: block;
}

.container {
    font-size: 16px;
    font-size: 1.6rem;
}

.inner-container {
    max-width: 940px;
    max-width: 94rem;
    margin: 0 auto;
}

a,
a:link,
a:hover,
a:focus,
a:active {
    color: #222222;
}

h2 {
    margin: 40px 0 15px 0;
    margin: 4rem 0 1.5rem 0;
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    color: #4d0f53;
}

h3 {
    margin: 15px 0 10px 0;
    margin: 1.5rem 0 1rem 0;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #4d0f53;
}

strong {
    font-weight: bold;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

code {
    padding: 4px;
    padding: 0.4rem;
    border-radius: 4px;
    border-radius: 0.4rem;
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
    border-width: 0.1rem;
    white-space: nowrap;
}

header {
    padding: 30px;
    padding: 3rem;
    background-color: #85478b;
    text-align: center;
    color: #ffffff;
}
header a,
header a:link,
header a:hover,
header a:focus,
header a:active {
    color: #ffffff;
    text-decoration: none;
}
.header-title {
    margin: 0 0 20px 0;
    margin: 0 0 2rem 0;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
}
.header-introduction {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}

main {
    padding-bottom: 40px;
    padding-bottom: 4rem;
}
.main-introduction {
    margin-bottom: 30px;
    margin-bottom: 3rem;
    padding-bottom: 30px;
    padding-bottom: 3rem;
    border-color: #4d0f53;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-width: 0 0 0.3rem 0;
}

.row > * {
    height: 50px;
    height: 5rem;
    background-color: #dbcdde;
    border-color: #8e5d9a;
    border-style: solid;
    border-width: 2px;
    border-width: 0.2rem;
}
